.serif, body {
  font-family: "Playfair Display", Times, serif; }

.sans, h1, h2, button, [data-module="post-artist-tags"] .tag {
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  letter-spacing: 1px; }

body {
  font-size: 16px ;
  font-size: 1.6rem ;
  font-weight: 300; }

h1, h2 {
  font-weight: 300; }

h1 {
  font-size: 72px ;
  font-size: 7.2rem ;
  margin: 0 0 15px ;
  margin: 0 0 1.5rem ;
  -webkit-text-shadow: 0px 0px 10px #252525;
  -ms-text-shadow: 0px 0px 10px #252525;
  -moz-text-shadow: 0px 0px 10px #252525;
  -o-text-shadow: 0px 0px 10px #252525;
  text-shadow: 0px 0px 10px #252525;
  color: #8f043a; }

h2 {
  margin: 0;
  font-size: 18px ;
  font-size: 1.8rem ; }

[data-module="post-artist-search"] .post-photo, [data-module="post-artist-search"] .post-video, [data-module="post-artist-search"] .post-text-post, [data-module="post-artist-search"] .post-tag-friend, [data-module="post-artist-tags"] .tag a::after {
  content: "";
  width: 16px ;
  width: 1.6rem ;
  height: 16px ;
  height: 1.6rem ;
  display: inline-block; }

[data-module="post-artist-search"] .post-photo {
  background: url("../images/icons/icon-photo.svg") no-repeat center center; }

[data-module="post-artist-search"] .post-video {
  background: url("../images/icons/icon-video.svg") no-repeat center center; }

[data-module="post-artist-search"] .post-text-post {
  background: url("../images/icons/icon-text.svg") no-repeat center center; }

[data-module="post-artist-search"] .post-tag-friend {
  background: url("../images/icons/icon-add-person.svg") no-repeat center center; }

[data-module="post-artist-tags"] .tag a::after {
  background: url("../images/icons/icon-clear-tag.svg") no-repeat center center; }

html {
  font-size: 62.5%; }

body {
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #252525;
  background: black url("../images/bg01.jpg") center -10px fixed no-repeat;
  position: relative; }

/* Animation */
input[type="submit"],
button {
  transition: all 0.2s ease-out;
  -webkit-backface-visibility: hidden; }

/* General */
*,
*:after,
*:before {
  box-sizing: border-box;
  text-rendering: optimizeLegibility; }

a {
  color: white;
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: none; }

input[type="text"],
input[type="email"],
input[type="password"] {
  -moz-appearance: textfield;
  -moz-user-select: text;
  cursor: text;
  text-align: start;
  text-rendering: optimizelegibility; }

button {
  font-size: 14px ;
  font-size: 1.4rem ;
  background-color: #8f043a;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border: 0;
  letter-spacing: 1px ;
  letter-spacing: 0.1rem ;
  padding: 6px 20px ;
  padding: 0.6rem 2rem ; }
  button:hover, button:focus {
    cursor: pointer; }

ul.nolist {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.wrapper, main {
  width: 960px ;
  width: 96rem ;
  padding: 0 15px ;
  padding: 0 1.5rem ;
  margin-left: auto;
  margin-right: auto; }

main {
  margin-top: 80px ;
  margin-top: 8rem ;
  opacity: 0.95; }

[data-module] {
  margin: 10px 0 ;
  margin: 1rem 0 ;
  position: relative; }

.hidden {
  visibility: hidden;
  height: 0; }

header#header {
  background-color: #8f043a;
  width: 100%;
  height: 70px ;
  height: 7rem ;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.9; }
  header#header > * {
    padding-top: 20px ;
    padding-top: 2rem ; }

[data-module="post-artist-search"] {
  background-color: white; }
  [data-module="post-artist-search"] #post-artist-meta {
    border-top: 2px solid #8f043a; }
  [data-module="post-artist-search"] input[type="text"] {
    font-size: 18px ;
    font-size: 1.8rem ;
    padding: 7px 9px ;
    padding: 0.7rem 0.9rem ;
    color: #7b8386;
    width: 88%;
    height: 42px;
    outline: none;
    opacity: 0.9;
    background-color: transparent;
    border: 0; }
  [data-module="post-artist-search"] button {
    display: inline-block;
    vertical-align: top; }
  [data-module="post-artist-search"] .post-types {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px ;
    margin-left: 1rem ; }
    [data-module="post-artist-search"] .post-types li {
      display: inline-block;
      vertical-align: top; }
      [data-module="post-artist-search"] .post-types li a {
        display: block;
        cursor: pointer;
        width: 36px ;
        width: 3.6rem ;
        height: 30px ;
        height: 3rem ; }
  [data-module="post-artist-search"] #post-text-container {
    display: block;
    transition: height 0.2s ease-out;
    -webkit-backface-visibility: hidden;
    height: 100%; }
    [data-module="post-artist-search"] #post-text-container.hidden {
      height: 0; }

[data-module="post-artist-tags"] {
  margin: 10px 0 ;
  margin: 1rem 0 ; }
  [data-module="post-artist-tags"] .tag {
    display: inline-block;
    vertical-align: top;
    padding: 0 8px ;
    padding: 0 0.8rem ;
    background-color: #8f043a;
    font-size: 10px ;
    font-size: 1rem ;
    margin: 0 5px ;
    margin: 0 0.5rem ;
    text-transform: lowercase;
    color: white;
    line-height: 23px ;
    line-height: 2.3rem ;
    border-radius: 5px ;
    border-radius: 0.5rem ; }
    [data-module="post-artist-tags"] .tag a {
      position: relative; }
      [data-module="post-artist-tags"] .tag a::after {
        margin-left: 5px ;
        margin-left: 0.5rem ;
        margin-top: 3px ;
        margin-top: 0.3rem ;
        display: inline-block;
        vertical-align: top; }

[data-module="post-artist-search"] [data-module="post-artist-tags"] {
  position: absolute;
  right: 0;
  top: 0; }

[data-module="wfm-post"] {
  width: 100%;
  height: 100%;
  display: block; }
