<!DOCTYPE html>
<html ng-app="artistBio" lang="en" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <head profile="http://gmpg.org/xfn/11">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Home Page! - WardrobeFM</title>
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic" type="text/css">
      <link rel="stylesheet" href="css/normalize.css">
      <link rel="stylesheet" href="css/style.css">
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    </head>
  </head>
  <body ng-controller="artistListController as artistList">
    <header id="header">
      <nav id="menu">
        <ul>
          <li><a href="#" title="About Wardrobe.FM">About</a></li>
          <li class="last"><a href="#" title="Get help">Help</a></li>
        </ul>
      </nav>
      <h1>Wardrobe.FM</h1>
      <div data-module="artist-search" id="searchContainer">
        <div id="search">
          <form id="searchform" name="searchform" ng-submit="artistList.addArtist()">
            <label for="artistsearch">Type an artist that is inspiring you today</label>
            <input type="text" name="artistsearch" id="artistsearch" placeholder="Type an artist" autocomplete="off" autofocus required ng-model="artistList.artistText">
            <button type="submit">Search</button>
          </form>
        </div>
      </div>
      <div data-module="artist-search-results">
        <ul class="nolist">
          <li ng-repeat="artist in artistList.artists | reverse" class="tag">{{artist.text}}</li>
        </ul>
      </div>
    </header>
    <section data-role="content">
      <section id="resultscontainer">
        <div id="results">
          <div data-module="artist-bio">
            <ul class="nolist">
              <li ng-repeat="artist in artistList.artists" class="cell">
                <div class="artist-meta">
                  <div class="artist-pic-container"> <img src="{{artist.pic}}" alt="{{artist.name}}"></div>
                  <div class="artist-name">
                    <h2>{{artist.name}}</h2><a ng-click="showDetails = ! showDetails" class="expand">Expand</a>
                  </div>
                  <div ng-class="{ 'hidden': ! showDetails }" class="more-info-container">
                    <div class="more-info">
                      <h3>About {{artist.name}}</h3>
                      <p ng-bind-html="trustAsHtml(artist.bio)"></p>
                      <h3>Upcoming Tours</h3>
                      <p>{{artist.tours}}</p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div id="resultsRight">
            <div class="artistbio">
              <div id="resultsheading">
                <h2> </h2>
              </div>
              <div id="resultsbio">
                <p> </p>
              </div>
              <div id="resultstours">
                <p> </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="modal"></div> 
      </section>
    </section>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="/js/vendor/modernizr-2.8.3.js"></script>
    <script src="/js/artist-bio.js"></script>
  </body>
</html>