body {
  font-size: 18px ;
  font-size: 1.8rem ;
  font-family: "Open Sans Condensed", Helvetica, Arial, sans-serif;
  font-weight: 300; }

h1, h2 {
  font-weight: 300; }

h1 {
  font-size: 72px ;
  font-size: 7.2rem ;
  margin: 0 0 15px ;
  margin: 0 0 1.5rem ;
  -webkit-text-shadow: 0px 0px 10px #666666;
  -ms-text-shadow: 0px 0px 10px #666666;
  -moz-text-shadow: 0px 0px 10px #666666;
  -o-text-shadow: 0px 0px 10px #666666;
  text-shadow: 0px 0px 10px #666666;
  color: #f5989d; }

h2 {
  margin: 0 0 10px ;
  margin: 0 0 1rem ; }

html {
  font-size: 62.5%; }

body {
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #666666;
  background: black url("../img/bg01.jpg") center center fixed no-repeat;
  position: relative;
  height: 100vh; }

/* Animation */
input[type="submit"],
button {
  transition: all 0.2s ease-in-out;
  -webkit-backface-visibility: hidden; }

/* General */
*,
*:after,
*:before {
  box-sizing: border-box; }

*:focus {
  outline: 0; }

a {
  color: white;
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: none; }

input[type="text"],
input[type="email"],
input[type="password"] {
  -moz-appearance: textfield;
  -moz-user-select: text;
  cursor: text;
  text-align: start;
  text-rendering: optimizelegibility; }

ul.nolist {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* Begin page styles */
fieldset {
  border: none;
  padding: 0;
  margin: 0; }

#header, #searchContainer, #search, #results {
  position: relative;
  width: 960px;
  margin: 0 auto; }

#header {
  height: 100vh;
  min-height: 315px;
  text-align: center; }

#searchContainer {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  overflow: hidden; }

#search input[type="text"],
#search button {
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px;
  -ms-box-shadow: 0 0 10px;
  -moz-box-shadow: 0 0 10px;
  -o-box-shadow: 0 0 10px;
  box-shadow: 0 0 10px;
  display: inline-block;
  vertical-align: top;
  border: 0; }
#search input[type="text"] {
  font-size: 22px ;
  font-size: 2.2rem ;
  padding: 7px 9px ;
  padding: 0.7rem 0.9rem ;
  color: #7b8386;
  width: 88%;
  height: 42px;
  outline: none;
  opacity: 0.9; }
#search button {
  font-size: 14px ;
  font-size: 1.4rem ;
  width: 7%;
  margin-left: 3%;
  height: 40px;
  background-color: #f5989d;
  color: white;
  font-weight: bold;
  text-transform: uppercase; }
  #search button:hover, #search button:focus {
    cursor: pointer; }

#resultscontainer {
  display: none;
  position: relative;
  opacity: 0.9;
  background: white;
  overflow: scroll;
  height: 70vh; }
  #resultscontainer a {
    color: #999; }
    #resultscontainer a:hover {
      text-decoration: underline; }

/* Menu */
#menu > ul, #items > ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

#menu {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  height: 26px; }
  #menu ul > li {
    margin: 0 10px 0 0 ;
    margin: 0 1rem 0 0 ;
    padding: 2px 20px ;
    padding: 0.2rem 2rem ;
    font-size: 16px ;
    font-size: 1.6rem ;
    display: inline-block;
    vertical-align: top;
    -webkit-border-bottom-left-radius: 5px;
    -ms-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -o-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -ms-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -o-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    background-color: #f5989d;
    opacity: 0.85; }
    #menu ul > li.last {
      margin-right: 0; }
    #menu ul > li.item:hover {
      cursor: pointer;
      background-color: red; }

/* AJAX Loading modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8) url("http://i.stack.imgur.com/FhHRx.gif") 50% 320px no-repeat; }

body.loading {
  overflow: hidden; }
  body.loading .modal {
    display: block; }

.artistbio {
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=style.css.map */
