/* CSS Resets */
article, aside, details, figcaption, figure, footer, header,hgroup,menu,nav,section { display:block; }

input, select {
    vertical-align:middle;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

/* Begin page styles */

body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	color: #666;
	background: black url('img/bg01.jpg') fixed center top no-repeat;
	transition: background 2s ease;
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}

h1 {
	font-size: 4.0em;
	color: #f5989d;
	margin: 0 0 15px;
	text-shadow: 0px 0px 10px #666;
}

h2 { margin: 0 0 10px; }

a {
	text-decoration: none;
	color: white;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

#header, #searchContainer, #search, #results {
	position: relative;
	width: 960px;
	margin: 0 auto;
}

#header {
	height: 270px;
	text-align: center;
}

#searchContainer {
	position: absolute;
	top: 290px;
	left: auto;
	right: auto;
	height: 160px;
	overflow: hidden;
}

#search input[type="text"] {
	-moz-appearance: textfield;
	-moz-user-select: text;
	color: -moz-fieldtext;
	cursor: text;
	text-align: start;
	text-rendering: optimizelegibility;
	color: #7b8386 !important;
	font-size: 1.2em;
	padding: 7px 9px;
	width: 88%;
	height: 28px;
	outline: none;
	float: left;
	opacity: 0.9;
	
}

#search button {
	float: left;
	width: 7%;
	margin-left: 3%;
	height: 40px;
	background-color: #f5989d;
	color: white;
	font-size: 0.8em;
}

#search button:hover { cursor: pointer; }

#search input[type="text"], #search button {
	border: 0;
	border-radius: 10px;
	box-shadow: 0 0 10px;
}


#resultscontainer {
	display: none;
	position: relative;
	opacity: 0.95;
	background: white;
	overflow: scroll;
}

#resultscontainer a { color: #999; }

#resultscontainer a:hover { text-decoration: underline; }

#resultsLeft {
	display: block;
	position: absolute;
	left: 0;
	width: 700px;
	margin: 25px 0;
}

#resultsRight {
	position: absolute;
	right: 0;
	display: block;
	width: 250px;
}

#resultsRight > div { display: none; }

#resultsRight .artistbio {
	display: none;
	padding: 10px 25px;
	border: 1px solid silver;
	box-shadow: 0 0 10px silver;
	font-size: 0.9em;
	background-color: #f5989d;
	color: white;	
}

#resultsRight a { color: red; }

/* Menu */

#menu {
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
	height: 26px;
}

#menu > ul, #items > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menu ul > li {
	margin: 0 10px 0 0;
	padding: 2px 20px;
	color: white;
	float: left;
	font-size: 0.9em;
	background-color: #f5989d;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	opacity: 0.85;
}

#menu ul > li.last { margin-right: 0; }

#menu ul > li.item:hover {
	cursor: pointer;
	background-color: red;
}

#items ul > li.item {
	width: 200px;
	height: 200px;
	border: 5px solid silver;
	border-radius: 125px;
	overflow: hidden;
	float: left;
	margin-right: 30px;
}

/* AJAX Loading modal */

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 320px 
                no-repeat;
}

body.loading { overflow: hidden; }

body.loading .modal { display: block; }