doctype html
html(
  ng-app="wardrobeFM"
  lang="en" 
  xmlns:og="http://ogp.me/ns#" 
  xmlns:fb="http://www.facebook.com/2008/fbml"
)
  include common/document_head

  body(ng-cloak)
    header(id="header")
      include common/header
      
    main(role="main")
      block content

    footer
      include common/footer