template(name="about")
  div(class="page about")
    +nav(title='About' black=false)

    div.content-scrollable
      div(class="bg-image about")
        h1.title-about
          img(src="img/app/logo.png" alt="WardrobeFM")
      div.description-about
        p Your music. Your style. Your inspiration. WardrobeFM is a project created by Sean and Sabrina Loyless to meld together music and photos into one seamless app experience highlighting inspiration drawn from music in people's lives.

        p WardrobeFM was made by 
          a.js-open( href="http://seanloyless.info" target="_blank") Sean Loyless 
          | in 
          a.js-open(href="https://www.meteor.com" target="_blank") Meteor.js
          | using Jade, Coffeescript, and Sass. View the source on 
          a.js-open(href="https://github.com/sloyless/WardrobeFM" target="_blank") GitHub.