template(name="activity")
  a.item-activity(href="{{path}}")
    span.attribution
      span.avatar
        img.image-avatar(src="{{userAvatar}}")
      span.meta
        span.author #{userName}
        span.date #{postDate} 

    .bg-image(style="background-image: url('{{image}}');")
    span.attribution
      span.meta
        p #{text}