template(name="authOverlay")
  div(class="overlay auth")
    a(href="#" class="js-close-overlay overlay-dismiss")
      span.icon-cross

    div.wrapper-heading
      div.title-overlay Sign In
      div.subtitle-overlay To bookmark and share your favorite recipes

    button(class="js-signin btn-twitter") Sign In With Twitter