template(name="home")
  div(class="page home")
    +nav(title='Wardrobe.FM' black=false)

    div.content-scrollable
      div.callout-news
        span.title-callout News
        | #{latestNews.text}
      div(class="bg-image home")
        h1.title-home
          img(src="img/app/logo.png" alt="Wardrobe.FM")
        span.hours
          | Your&nbsp;&nbsp; 
          span.title-callout Music.
          | Your&nbsp;&nbsp; 
          span.title-callout Inspiration.
        span.arrow

      h2.list-title Recent Inspiration
      div.list-subtitle See what everyone else is inspired by today.
      div.list-activities
        each activities
          +activity
        else
          div.wrapper-message
            div.title-message No one is inspired yet!
            div.subtitle-message Share some inspiration and it will show up here.
      a.btn-primary(href="{{pathFor 'feed'}}") See other posts