template(name="nav")
  nav(class="{{#if black}}black{{/if}}")
    div.nav-group
      if back
        a(class="nav-item js-back" href="#")
          span.icon-arrow-left-alt
      else
        a(class="nav-item js-menu" href="#")
          span.icon-menu

    div.title-page
      | #{title}
      span.subtext-page #{subtext}

    div(class="nav-group right")
      if bookmarked
        a(href="#" class="nav-item js-remove-bookmark bookmarked")
          span.icon-bookmark
      else
        a(href="#" class="nav-item js-add-bookmark")
          span.icon-bookmark-hollow
      a(href="#" class="nav-item js-share")
        span.icon-camera