template(name="feed")
  div(class="page whats-cooking")
    +nav title="What's Cooking"
    div.content-scrollable
      div(class="list-activities {{#unless ready}}loading{{/unless}}")
        if ready
          each activities
            +activity
          else
            div.wrapper-message
              div.title-message No one is cooking yet!
              div.subtitle-message Share that you made a recipe and it will show up here.
        else
          div.wrapper-message
            div.icon-sync
            div.title-message Loading