header(id="header")
    nav(id="menu")
        ul
            li
                a(href="#" title="About Wardrobe.FM") About
            li.last
                a(href="#" title="Get help") Help
    h1 Wardrobe.FM
    block searchContainer