div(data-module="artist-bio")
  ul.nolist
    li(ng-repeat="artist in artistList.artists" class="cell")
      span {{artist.text}}
      div.artistbio
        h2 {{artist.artistName}}
        p(ng-bind-html="artistBio")
        p {{artist.tours}}
        img(src="{{artist.pic}}" alt="{{artist.name}}")