
<div data-module="wfm-post">
  <article>
    <div class="post-image"><img ng-src="{{post.pic}}" alt=""/></div>
    <div class="post-artists">
      <ul class="nolist">
        <li ng-repeat="artist in artistList.artists" class="post-artist"><img ng-src="{{artist.pic}}" alt="{{artist.name}}"/>
          <div class="artist-meta"><span>{{artist.name}}</span><a ng-click="showDetails = ! showDetails" class="expand">Expand</a>
            <div ng-class="{ 'hidden': ! showDetails }" class="more-info-container">
              <div class="more-info">
                <h3>About {{artist.name}}</h3>
                <p ng-bind-html="trustAsHtml(artist.bio)"></p>
                <h3>Upcoming Tours</h3>
                <p>{{artist.tours}}</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="post-title">
      <div class="user-avatar">
        <div class="user-meta">
          <h3>{{user.name}}</h3><span>{{user.description}}</span><span>{{user.location}}</span>
        </div>
      </div>
      <h2>{{post.title}}</h2>
    </div>
    <div class="post-meta">
      <div class="post-date">{{post.datestamp}}</div>
      <div class="share-bar">
        <ul class="nolist">
          <li class="post-delete"> </li>
          <li class="post-comment"></li>
          <li class="post-fav"></li>
          <li class="post-share"></li>
        </ul>
      </div>
    </div>
  </article>
</div>