div(data-module="wfm-post-preview")
  article.post-box(id="preview-{{ $index + 1 }}")
    div.post-image
      img(ng-src="{{postContent.postImage.src}}" alt="")

    div.post-artists
      ul.nolist
        li.post-artist(ng-repeat="artist in postContent.postArtists.artists" ng-mouseenter="hover = true" ng-mouseleave="hover = false")
          div.post-show-details(ng-class="{show: hover}")
            div.post-artist-meta
              span {{artist.name}}
              a.expand(ng-click="showBio = ! showBio") 
                span.visuallyhidden Expand

              //div.post-artist-bio(ng-class="{'hidden': ! showBio}")
                div.more-info
                  h3 About {{artist.name}}
                  p(ng-bind-html="trustAsHtml(artist.bio)")
                  h3 Upcoming Tours
                  //p {{artist.tours}}
          div.post-artist-image
            img(ng-src="{{artist.pic}}" alt="")
    div.post-title
      div.user-avatar
        img(ng-src="{{postContent.user.avatarSrc}}" alt="")
        div.user-meta
          h3 {{postContent.user.name}}
          span {{postContent.user.description}}
          span {{postContent.user.location}}
      h2(ng-model="postContent.postCaption.text") {{postContent.postCaption.text}}

    div.post-meta
      div.post-date
        | Posted {{postContent.datestamp}}
      div.share-bar
        ul.nolist
          li.post-delete
            a(ng-click="" title="Delete this post")
              span.visuallyhidden Delete this post
          li.post-comment
            a(ng-click="" title="Comment on this post")
              span.visuallyhidden Comment on this post
          li.post-fav
            a(ng-click="" title="Star this post")
              span.visuallyhidden Star this post
          li.post-share
            a(ng-click="" title="Share this post")
              span.visuallyhidden Share this post
