
<div data-module="post-artist-search">
  <form id="searchform" name="searchform" ng-submit="artistList.addArtist()">
    <div id="post-artist-search">
      <label for="artistsearch">Who is inspiring you today?</label>
      <input type="text" name="artistsearch" id="artistsearch" placeholder="Who is inspiring you today?" autocomplete="off" autofocus="autofocus" required="required" ng-model="artistList.artistText"/>
    </div>
    <div data-module="post-artist-tags">
      <ul class="nolist">
        <li ng-repeat="artist in artistList.artists | reverse" class="tag">{{artist.text}}</li>
      </ul>
    </div>
    <div id="post-artist-meta">
      <button type="submit">Submit</button>
    </div>
  </form>
</div>