div(data-module="wfm-post" ng-repeat="content in createPost")
  article
    div.post-image
      img(ng-src="{{postImage.src}}" alt="")

    div.post-artists
      ul.nolist
        li.post-artist(ng-repeat="artist in content.postArtists.artists")
          img(ng-src="{{artist.pic}}" alt="")
          div.artist-meta
            span {{artist.name}}
            a.expand(ng-click="showDetails = ! showDetails") Expand

            div.more-info-container(ng-class="{ 'hidden': ! showDetails }")
              div.more-info
                h3 About {{artist.name}}
                p(ng-bind-html="trustAsHtml(artist.bio)")
                h3 Upcoming Tours
                //p {{artist.tours}}

    div.post-title
      div.user-avatar
        div.user-meta
          h3 {{user.name}}
          span {{user.description}}
          span {{user.location}}
      h2 {{postCaption.text}}

    div.post-meta
      div.post-date
        {{datestamp}}
      div.share-bar
        ul.nolist
          li.post-delete 
          li.post-comment
          li.post-fav
          li.post-share
