extends ./layout

block page-meta
    title Home Page! - WardrobeFM

block searchContainer
    include modules/artist-search
    include modules/artist-search-results

block content
    section(id="resultscontainer")
        div(id="results")
            include modules/artist-bio

            div(id="resultsRight")
                div.artistbio
                    div(id="resultsheading")
                        h2 
                    div(id="resultsbio")
                        p 
                    div(id="resultstours")
                        p 