extends ./layout

block page-meta
    title Welcome! :: WardrobeFM - Your Style, your music.

block content
    section(id="post-box")
        include modules/post-artist-search

    section(id="post-list")
        include modules/post


