doctype html
html(
  ng-app="artistBio"
  lang="en" 
  xmlns:og="http://ogp.me/ns#" 
  xmlns:fb="http://www.facebook.com/2008/fbml"
)
  include common/document_head

  body
    header(id="header")
      include common/header
      
    main(role="main" ng-controller="artistListController as artistList")
      block content

    footer
      include common/footer

    include common/script_inclusions