doctype html
html(
  ng-app="artistBio"
  lang="en" 
  xmlns:og="http://ogp.me/ns#" 
  xmlns:fb="http://www.facebook.com/2008/fbml"
)
  head
    include common/document_head

  block body
    body(ng-controller="artistListController as artistList")
      block header
        include common/header

      section(data-role="content")
        block content

        block footer
          include common/document_footer

      block scripts
        include common/script_inclusions